<div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <form action="/admin/add-user"  method="post" role="form" >
                                    <legend>Add your products here</legend>
                    
                                    <div class="form-group">
                                        <label for="first_name"> Name</label>
                                        <input type="text" class="form-control" name="Name"  placeholder="Name">
                                    </div>
                    
                                    <div class="form-group">
                                        <label for="name">Email</label>
                                        <input type="email" class="form-control" name="Email"  placeholder="email@gmail.com">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="name">Password</label>
                                        <input type="password" class="form-control" name="Password" >
                                    </div>
                                    
                    
                                    {{!-- <button type="submit" class="btn btn-primary">Submit</button> --}}
                                    <div class="modal-footer">
                                        <a class="btn btn-secondary " href="/admin/user">Cancel</a>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>



                 